<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <title>Twitter</title>
</head>
<body>
    <div class="container">
       <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
           <div class="container">
               <a href="#" class="navbar-brand">
                   <img src="logo.png" alt="logo" height="150">
                </a>
               <div class="collapse navbar-collapse">
                   <ul class="navbar-nav ms-auto">
                       <li class="nav-item"><a href="#" class="nav-link active">Home</a></li>
                   </ul>
               </div>
           </div>
       </nav>
        <div class="row">
        <div class="col-md-3">
            <section class="panel">
                <figure class="margin-bottom-10">
                    <img width="100" height="100" src="tano_selfie.png" alt="tano">
                </figure>

                <hr class="half-margins">
                <% for (let i=0; i < feed.length; i++ ) { %>
                <h3 class="text-black">@<%=feed[i].username%></h3>
                <% } %>
                <p class="size-12">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur quo minus laboriosam aperiam, minima ducimus fugiat doloribus officia necessitatibus vel. Illum reiciendis laborum facilis minima sit quas perspiciatis et. Magnam.</p>
                <h6>Follow Me</h6>
                <a href="#" class="btn ico-only btn-facebook btn-xs" title="Facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="btn ico-only btn-facebook btn-xs" title="Linkedin"><i class="fa fa-linkedin"></i></a>
                <a href="https://twitter.com/unknowncoder4" class="btn ico-only btn-facebook btn-xs" title="Twitter"><i class="fa fa-twitter"></i></a>
            </section>
        </div>

        <div class="col-md-5">
            <div class="content">
                <ul class="comment list-unstyled padding-10">
                    <button><a href="/feed/new">Create a new tweet!</a></button>
                    <li class="comment border border-dark">
                        <img src="tano_selfie.png" width="50" height="50" alt="avatar">
                        <% for (let i=0; i < feed.length; i++ ) { %>
                        <div class="comment-body">
                            <a href="#" class="comment-author">
                                <small class="text-muted pull-right">50 Minutes ago</small>
                                <span>@<%=feed[i].name%></span>
                            </a>
                            <p>@<%= feed[i].entry %></p>
                        </div>
                        <div class="list-inline size-11 margin-top-10">
                            <form class="pull-right" action="/feed/<%=feed[i]._id%>?_method=DELETE" method="POST">
                                <input type="submit" value="DELETE">
                            </form>
                            <a href="/feed/<%=feed[i]._id%>/edit" class="text-primary pull-right"> Edit Tweet</a>
                        </div>
                        <% } %>
                    </li>
                    <li class="comment border border-dark">
                        <img src="tano_selfie.png" width="50" height="50" alt="avatar">
                        <% for (let i=0; i < feed.length; i++ ) { %>
                            <div class="comment-body">
                                <a href="#" class="comment-author">
                                    <small class="text-muted pull-right">50 Minutes ago</small>
                                    <span>@<%=feed[i].name%></span>
                                </a>
                                <p>@<%= feed[i].entry %>
                                </p>
                            </div>
                            <div class="list-inline size-11 margin-top-10">
                                <form class="pull-right" action="/feed/<%=feed[i]._id%>?_method=DELETE" method="POST">
                                    <input type="submit" value="DELETE">
                                </form>
                                <a href="/feed/<%=feed[i]._id%>/edit" class="text-primary pull-right"> Edit Tweet</a>
                            </div>
                            <% } %>
                    </li>
                    <li class="comment border border-dark">
                        <img src="tano_selfie.png" width="50" height="50" alt="avatar">
                        <% for (let i=0; i < feed.length; i++ ) { %>
                            <div class="comment-body">
                                <a href="#" class="comment-author">
                                    <small class="text-muted pull-right">50 Minutes ago</small>
                                    <span>@<%=feed[i].name%></span>
                                </a>
                                <p>@<%= feed[i].entry %>
                                </p>
                            </div>
                            <div class="list-inline size-11 margin-top-10">
                                <form class="pull-right" action="/feed/<%=feed[i]._id%>?_method=DELETE" method="POST">
                                    <input type="submit" value="DELETE">
                                </form>
                                <a href="/feed/<%=feed[i]._id%>/edit" class="text-primary pull-right"> Edit Post</a>
                            </div>
                            <% } %>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-4">
            <section class="panel panel-default">
                <header class="panel-heading">
                    <h2 class="panel-title eli[sis">
                        <i class="fa fa-user-plus">People To Follow</i>
                    </h2>
                </header>
               <div class="panel-body noradius padding-10">
                   <ul class="bullet-list list-unstyled">
                    <li class="list-group-item jedi">Captain Rex</li>
                    <li class="list-group-item sith">Asajj Ventress</li>
                    <li class="list-group-item jedi">Barriss Offee</li>
                    <li class="list-group-item sith">Ezra Bridger</li>
                   </ul>
               </div>
            </section>
            <main>
                <h2>Enlist Today</h2> <br />
                <img width="200" height="200" src="h234E5A90.png" alt="ad">
                <br>
                <!-- <iframe width="200" height="200"
                    src="https://www.youtube.com/embed/xmdKLPEmsRw?playlist=xmdKLPEmsRw&autoplay=1&loop=1&mute=1"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                    </iframe> -->
                <img width="200" height="200" src="rebel.png" alt="ad">

            </main>
        </div>
    </div>

</body>
</html>
