<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="icon" href="/photos/logo.png" type="image/icon type">
    <title>Profile</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li><a href="/feed" class="nav-link">Home</a></li>
                    <li><a href="/feed/new" class="nav-link">Post</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container">
        <div class="row">
        <div class="col-md-3">
            <section class="panel">
                <figure class="p-2">
                    <% if (feed.user.force === 'Jedi Knight' ) { %>
                        <img width="100" height="100" src="/photos/tano_selfie.png" alt="tano">
                        <% } else { %>
                            <img width="100" height="100" src="/photos/maul.jpg" alt="maul">
                            <% } %>
                </figure>

                <hr class="half-margins">
                <h3 class="text-black">@<%=feed.user.username%></h3>
                <p class="size-12"><%=feed.user.bio%></p>
                <% if (feed.user.username === currentUser.username) { %>
                    <button><a href="/feed/new">Create a new tweet!</a></button>
                <% } %>

            </section>
        </div>

        <div class="col-md-5">
            <div class="content">
                <ul class="comment list-unstyled padding-10">
                    <li class="comment border border-dark p-3">
                        <% if (feed.user.force==='Jedi Knight' ) { %>
                        <img src="/photos/tano_selfie.png" width="50" height="50" alt="avatar">
                            <% } else { %>
                        <img src="/photos/maul.jpg" width='50' height='50' alt="sith">
                                <% } %>
                        <div class="comment-body">
                            <small class="text-muted pull-right"><%= feed.createdAt.toLocaleDateString("en-US") %></small>
                            <a href="/feed/<%=feed._id%>" class="comment-author">
                            <span><%=feed.user.username%></span></a>
                            <p><%= feed.entry %></p>
                        </div>
                        <% if (feed.user.username===currentUser.username) { %>
                        <div class="list-inline size-11 margin-top-10">
                            <form class="pull-right" action="/feed/<%=feed._id%>?_method=DELETE" method="POST">
                                <input type="submit" value="DELETE">
                            </form>
                            <a href="/feed/<%=feed._id%>/edit" class="text-primary pull-right"> Edit Tweet</a>
                        </div>
                        <% } %>
                    </li>
                </ul>

            </div>
        </div>


        <div class="col-md-4 p-3">
            <main>
                <h2>Enlist Today</h2> <br />
                <img width="200" height="200" src="/photos/h234E5A90.png" alt="ad">
                <img width="200" height="200" src="/photos/rebel.png" alt="ad">
            </main>
        </div>
    </div>
</body>
</html>
